* {
  box-sizing: border-box;
}

body {
  margin: 1em;
  padding: 0;
  font-size: 15px;
}

#content {
  min-width: 20rem;
  width: min-content;
}

.loading {
  vertical-align: middle;
}

a, span {
  white-space: nowrap;
}

.message {
  color: #f00;
}
